version: "3"
services:
  ui:
    build: services/ui
    networks: 
      - webnet
    expose:
      - "80"
  simple:
    # replace username/repo:tag with your name and image details
    build: services/SimpleService
    deploy:
      replicas: 5
      resources:
        limits:
          cpus: "0.1"
          memory: 50M
      restart_policy:
        condition: on-failure
    expose: 
      - "8080"
    networks:
      - webnet
  proxy:
    build: infrastructure/proxy
    ports:
      - "80:80"
    networks: 
      - frontend
      - webnet
  jms:
    build: infrastructure/jms
    expose:
      - "8080"
    networks:
      - webnet
  keycloakdb:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    expose:
      - "3306"
    restart: always
    environment: 
      - MYSQL_DATABASE=keycloak
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_USER=keycloakuser
      - MYSQL_PASSWORD=keycloakuserpassword
    volumes:
      - "keycloakdbdata:/var/lib/mysql"
    networks:
      - webnet
  keycloak:
    image: jboss/keycloak
    networks:
      - webnet
    environment:
      - MYSQL_ADDR=keycloakdb
      - DB_DATABASE=keycloak
      - DB_USER=keycloakuser
      - DB_PASSWORD=keycloakuserpassword
    depends_on:
      - keycloakdb
networks:
  frontend:
  webnet:
volumes:
  keycloakdbdata:

