version: "3"
services:
  ui:
    build: services/ui
    networks: 
      - webnet
    ports:
      - "80:80"
  simple:
    # replace username/repo:tag with your name and image details
    build: services/SimpleService
    command: --hostname simple-service-server
    deploy:
      replicas: 5
      resources:
        limits:
          cpus: "0.1"
          memory: 50M
      restart_policy:
        condition: on-failure
    ports:
      - "8080:8080"
    networks:
      - webnet
  jms:
    build: infrastructure/jms
    ports: 
      - "8081:8080"
    networks:
      - webnet
networks:
  frontend:
  webnet:

